<% include ../partials/head %>
<body>
    <form class="form-signin" method="POST">
        <% if (messages.length > 0) { %>
            <%- messages %>
        <% } %>
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
        <div>
            <label>Login</label>
            <input type="text" id="inputNick" class="form-control" name="nick" required autofocus>
        </div>
        <div>
            <label>Password</label>
            <input type="password" id="inputPassword" class="form-control" name="pass" required>
        </div>
        <button class="btn btn-default" type="submit">Signin</button>
    </form>
</body>
</html>