      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Todo App, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script>
        $(document).ready(function(){
            var socket = io();
            socket.on('messages', function(messages, err){
                if(messages.length) {
                    for(var i = 0; i < messages.length; i++){
                        var html = '<div class="row message-bubble">';
                        html += '<p class="text-muted">'+ messages[i]._user.nick +' '+ messages[i].created +'</p>';
                        html += '<span>'+ messages[i].content +'</span>';
                        html += '</div>';
                        $('#messages').append(html);
                    }
                }
            });
            
            socket.on('users', function(users, err){
                if(users.length) {
                    for(var i = 0; i < users.length; i++){
                        $('#users').append('<li>'+users[i].nick+'</li>');
                    }
                }
            });
            
            socket.on('user', function(user, err){
                $('#users').append('<li>'+user+'</li>');
            });
            
            $('#chatForm').submit(function(){
                socket.emit('chat message', {
                    message: $('#message').val()
                });

                $('#message').val('');
                return false;
           });

            socket.on('chat message', function(msg){
                var html = '<div class="row message-bubble">';
                    html += '<p class="text-muted">'+ msg.user +' '+ msg.created +'</p>';
                    html += '<span>'+ msg.content +'</span>';
                    html += '</div>';
                $('#messages').append(html);      
                $("html, body").scrollTop($(document).height());
            });
            
            socket.on('disconect', function(user, er){
                $('li:contains("'+user+'")').remove();
            });

            socket.on('er', function(er){
                $('#info').append('<div class="alert alert-danger">'+er+'</div>');
            });

        });
    </script>
</body>
</html>