<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/tasks" class="navbar-brand">Welcome to <%= title %></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a>Logged as <b><%= session.passport.user.nick %></b></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" data-toggle="modal" data-target="#chatModal">Chat</a></li>
                    <% include ../partials/modals/chat %>
                    <% if(session.passport.user.admin){ %>
                        <li id="users-page"><a href="/users">Users</a></li>
                    <% } %>
                    <li id="tasks-page"><a href="/tasks">Todo list</a></li>
                    <li id="completed-page"><a href="/tasks/completed">Completed</a></li>
                    <li id="notes-page"><a href="/notes">Notes</a></li>
                    <li><a href="/auth/out">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
     </nav>
    <div id="info">
        <% if (messages.length > 0) { %>
            <%- messages %>
        <% } %>
    </div>
