<body>
    <div id="info">
        <% if (messages.length > 0) { %>
            <%- messages %>
        <% } %>
    </div>
    <h1><%= page %></h1>
    <p>Welcome to <%= title %></p>
    <p>Logged as <%= user.nick %></p>
    <ul>
        <li><button type="button" class="btn btn-info" data-toggle="modal" data-target="#chatModal">Chat</button></li>
        <% include ../partials/modals/chat %>
        <% if(user.admin){ %>
            <li><a href="/users">Users</a></li>
        <% } %>
        <li><a href="/tasks">Todo list</a></li>
        <li><a href="/tasks/completed">Completed</a></li>
        <li><a href="/notes">Notes</a></li>
        <li><a href="/auth/out">Logout</a></li>
    </ul>