<form class="create-form" method="POST" action="/notes/toTask" >
    <input type="hidden" name="_id" value="<%= task._id %>">
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <div class="row">
        <div class="form-group">
            <label>New note:</label>
            <input type="text" class="form-control inputs" name='desc' >
            <button type="submit" class="btn btn-default">Add</button>
        </div>
    </div>
</form>