<% include ./partials/head %>
  <body>
    <% if (messages.length > 0) { %>
        <%- messages %>
    <% } %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
     <ul>
        <li><a href="/tasks">Todo list</a></li>
        <li><a href="/tasks/completed">Completed</a></li>
    </ul>
  </body>
</html>
