body {
    background-color: #2B2B2B!important;
    padding: 50px;
    font-family: monospace!important;
    color: #bfbfbf!important;
    font-size: 13px;
}

.navbar-default{
    background-color: #2B2B2B!important;
    border-color: #2B2B2B!important;
}

.navbar-default .navbar-nav>li>a{
    color: #bfbfbf!important;
    #dcdcdc
}

.navbar-default .navbar-nav>li>a:hover{
    color: #dcdcdc!important;
}

.nav>li>a{
    color: #bfbfbf!important;
}

.nav>li>a:focus, 
.nav>li>a:hover{
    background-color: #2B2B2B!important;
}

.navbar-right>li:hover{
    border-bottom: 2px solid;
    border-radius: 0px!important;
}

.active-page{
    border-bottom: 2px solid;
    border-radius: 0px!important;
}

.modal-content{
    background-color: #2B2B2B!important;
    border: none!important;
    border-radius: 0px!important;
}

.modal-header{
    border-bottom: none!important;
}

.modal-footer{
    border-top: none!important;
}

.modal-open .modal,.btn:focus{
    outline:none!important
}

.modal-form > input,
.modal-form > textarea {
    width: 100%!important;
}

.close{
    color: #3998d6!important;
    text-shadow: none!important;
    opacity: 1!important;
}

.form-signin > div > .form-control{
    display: inline!important;
    background-color: #2B2B2B!important;
}

.form-signin > label{
    display: inline;
}

.form-signin > input{
    display: inline;
    width: 70%!important;
    background-color: #2B2B2B!important;
}

.form-signin > .form-control{}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}

.task-form{
    margin-bottom: 0px!important;
}

.chat-form{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #3998d6;
}

.message-row{
    border-top: 2px solid #323232!important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-group > label{
    display: inline;
}

.form-group > input{
    display: inline;
}

input{
    background-color: #323232!important;
    border-color: #2B2B2B!important;
    webkit-box-shadow:none!important;
    box-shadow:none!important;
    webkit-transition:none!important;
    transition:none!important;
    border-radius: 0px!important;
}

select{
    background-color: #323232!important;
    border-color: #2B2B2B!important;
    webkit-box-shadow:none!important;
    box-shadow:none!important;
    webkit-transition:none!important;
    transition:none!important;
    border-radius: 0px!important;
    color: #3998d6!important;
}

textarea{
    background-color: #323232!important;
    border-color: #2B2B2B!important;
    webkit-box-shadow:none!important;
    box-shadow:none!important;
    webkit-transition:none!important;
    transition:none!important;
    border-radius: 0px!important;
}

input,
textarea {
    color: #3998d6!important;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

.form-control {
    width: inherit!important;
}

.form-control:focus{
    border-color: #2B2B2B!important;
}


.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.create-form{
    padding-left: 15px;
}

.panel-group{
    margin-bottom: 0px!important;
    border: 2px solid #424242;
}

.panel-group .panel{
    background-color: #2B2B2B!important;
    border: 1px solid white;
    box-shadow:none!important;
}

.panel-default{
    border-color: #2B2B2B!important;
}

.panel-default>.panel-heading {
    background-color: #2B2B2B!important;
    border-color: #2B2B2B!important;
    color: #bfbfbf!important;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: none!important;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border: none!important;
}

button:focus {
    outline:none!important;
}

.btn{
    border-radius: 0px!important;
}

.btn:hover{
    color: #296c99!important;
}

.btn:active{
    box-shadow: none!important;
    webkit-box-shadow: none!important;
}

.btn-default{
    background-color: #2B2B2B!important;
    border-color: #2B2B2B!important;
    color: #3998d6!important;
}

.alert-success{
    color: #00ff04!important;
    background-color: #2B2B2B!important;
    border-color: #2B2B2B!important;
}

.alert-danger{
    color: #ff000c!important;
    background-color: #2B2B2B!important;
    border-color: #2B2B2B!important;
}

#users{
    list-style: none;
}

#users > li:before{
    content: "• ";
    color: #00ff04;
}

.table>thead>tr>th{
    border-bottom: 2px solid #323232!important;
}

.table>tbody>tr>td{
    border-top: 1px solid #323232!important;
}

.badge{
    color: #3998d6!important;
}

footer {
    color: #3998d6;
    position: absolute;
    width: 90%;
    /* Set the fixed height of the footer here */
    height: 60px;
}