<!-- Modal -->
<div id="completeAllModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Are you sure active all tasks?</p>
            </div>
            <div class="modal-footer">
                <% include ../forms/task/active_all %>
            </div>
        </div>
    </div>
</div>