<!-- Modal -->
<div id="chatModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chat</h4>
                <ul id="users"></ul>
            </div>
            <div class="modal-body">
                <div id="messages"></div>
                <form id="chatForm">
                    <div class="form-group chat-form">
                        <div class="chat-alert"></div>
                        <label>Write:</label>
                        <input id="message" type="text" class="form-control inputs" autofocus>
                        <button class="btn btn-default" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>