<form class="active-subtask-form" style="display:inline" >
    <input type="hidden" name="_id" value="<%= subtask._id %>">
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <button type="submit" class="btn btn-default">Active</button>
</form>