<form style="display:inline" method="POST" action="/subtasks" >
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="_id" value="<%= subtask._id %>">
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <button type="submit" class="btn btn-default">Remove</button>
</form>