<% include ../partials/head %>
<% include ../partials/header %>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-stripped results">
                <thead>
                <tr>
                    <th>
                        <button class="btn btn-default" data-toggle="modal" data-target="#activeAllModal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Active all</button>
                        <% include ../partials/modals/active_all_tasks %>
                    </th>
                    <th>#</th>
                    <th>Task</th>
                    <th>Finished</th>
                    <th>
                        <button class="btn btn-default" data-toggle="modal" data-target="#removeAllModal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Remove all</button>
                        <% include ../partials/modals/remove_all_tasks %>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <% if(tasks){ %>
                        <% var i = 1; %>
                        <% tasks.forEach(function(task){ %>
                            <tr>
                                <td>
                                    <% include ../partials/forms/task/active %>
                                </td>
                                <td><%= i %></td>
                                <td style="text-decoration: line-through"><%= task.name %></td>
                                <td><%= moment(new Date(task.modified)).format('YYYY-MM-DD HH:mm') %></td>
                                <td>
                                    <% include ../partials/forms/task/remove %>
                                </td>
                            </tr>
                        <% i++; %>
                        <% }); %>
                    <% }; %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.getElementById("completed-page").className = 'active-page';
    </script>

<% include ../partials/footer %>
